---
import Layout from '../layouts/Layout.astro';
import { gsap } from "gsap";
import HeaderNav from '../components/headerNav.astro';
---

<Layout title="Astro Starter Kit">
	<main class="relative bg-gradient-to-br from-[#50483f] to-[#ff993f] min-h-screen flex flex-col justify-center items-center overflow-hidden animate-gradient-x">

		<HeaderNav />

		<section class="container mt-10 md:m-0 text-center flex flex-col items-center justify-center gap-8 z-10"> 
			<h1 id="title" class="text-white flex-wrap text-5xl md:text-6xl font-bold leading-tight">Construimos el Futuro</h1>
			<p id="subTitle" class="text-orange-300 text-xl md:text-2xl max-w-2xl">Innovación, Calidad y Sostenibilidad en cada proyecto</p>
			<div class="swiper-container max-w-[1400px] w-[95%] relative z-10">
				<div class="swiper max-h-[500px]">
					<div class="swiper-wrapper">
						{
							['Pintura', 'Estuco', 'Marmolizado', 'Enchape', 'Drywall'].map((item, index) => (
								<div class="swiper-slide max-h-[500px] relative flex flex-col justify-center place-items-center overflow-hidden shadow-md">
									<h2 class="absolute top-10 w-full text-center text-4xl z-30 font-bold text-orange-500 ">{item}</h2>
									<img src={`/img/${item}.jpg`} alt={`Imagen de ${item}`} class="inset-0 object-cover w-full h-auto" />
									<div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 text-white p-4 transform translate-y-full  slideInfo">
										<p class="text-sm max-w-[600px] m-auto text-wrap text-center">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum natus sint tempore non libero aliquid dolorum labore asperiores, obcaecati iure iste, ea voluptatibus? Ipsum accusantium similique repudiandae voluptas soluta fuga!
										</p>
									</div>
								</div>
							))
						}
					</div>
					<div class="swiper-pagination mt-20"></div>
				</div>
			</div>

			<a id="descubreMasBtn" class="py-3 px-6 rounded-full bg-white text-[#222] font-semibold hover:bg-[#222] transition-colors duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-10 hover:transition-all hover:text-[#fff]" href="/proyectos">Descubre nuestros proyectos</a>
		</section>
	</main>

	<script>
		import { gsap } from "gsap";
		import Swiper from 'swiper';
		import { Pagination, Autoplay, EffectCoverflow } from 'swiper/modules';
		import 'swiper/css';
		import 'swiper/css/pagination';
		import 'swiper/css/effect-coverflow';
		
		document.addEventListener('astro:page-load', () => {
		  let swiper;
		
		  const initSwiper = () => {
			if (swiper) {
			  swiper.destroy(true, true);
			}
			swiper = new Swiper('.swiper', {
			  modules: [Pagination, Autoplay, EffectCoverflow],
			  loop: true,
			  slidesPerView: 'auto',
			  centeredSlides: true,
			  spaceBetween: 30,
			  autoplay: {
				delay: 3000,
				disableOnInteraction: false,
			  },
			  pagination: {
				el: '.swiper-pagination',
				clickable: true,
			  },
			  effect: 'coverflow',
			  coverflowEffect: {
				rotate: 0,
				stretch: 0,
				depth: 100,
				modifier: 2,
				slideShadows: false,
			  },
			  breakpoints: {
				320: {
				  slidesPerView: 1.2,
				},
				640: {
				  slidesPerView: 1.5,
				},
				1024: {
				  slidesPerView: 1.8,
				}
			  }
			});
		
			const slideInfo = document.querySelectorAll('.slideInfo');
			const swiperSlides = document.querySelectorAll('.swiper-slide');
		
			const showSlideInfo = (index) => {
			  gsap.to(slideInfo[index], {
				y: 0,
				duration: 0.3,
				ease: 'power2.out'
			  });
			};
		
			const hideSlideInfo = (index) => {
			  gsap.to(slideInfo[index], {
				y: '100%',
				duration: 0.3,
				ease: 'power2.in'
			  });
			};
		
			swiperSlides.forEach((slide, index) => {
			  slide.addEventListener('mouseenter', () => {
				if (slide.classList.contains('swiper-slide-active')) {
				  showSlideInfo(index);
				}
			  });
			  slide.addEventListener('mouseleave', () => {
				hideSlideInfo(index);
			  });
			});
		
			swiper.on('slideChangeTransitionEnd', () => {
			  swiperSlides.forEach((slide, index) => {
				if (slide.classList.contains('swiper-slide-active')) {
				  slide.addEventListener('mouseenter', () => showSlideInfo(index));
				  slide.addEventListener('mouseleave', () => hideSlideInfo(index));
				} else {
				  slide.removeEventListener('mouseenter', () => showSlideInfo(index));
				  slide.removeEventListener('mouseleave', () => hideSlideInfo(index));
				}
			  });
			});
		  };
		
		  const initAnimations = () => {
			gsap.fromTo('.swiper', {
			  opacity: 0,
			}, 
			{
			  opacity: 1, 
			  delay: 0.5
			});
		
			const title = document.getElementById("title");
			const subTitle = document.getElementById("subTitle");
			const descubreMasBtn = document.getElementById("descubreMasBtn");
		
			gsap.fromTo(descubreMasBtn, {
			  opacity: 0,
			  y: 50, 
			  rotate: -20 
			}, 
			{
			  opacity: 1,
			  y: 0, 
			  rotate: 0, 
			  duration: 2, 
			  ease: "elastic.out(1, 0.6)", 
			  delay: 1 
			}); 
		
			gsap.fromTo(title, {
			  opacity: 0,
			  y: -30,
			  stagger: 0.1
			},
			{
			  duration: 1.5,
			  opacity: 1,
			  y: 0,
			  stagger: 0.1
			});
		
			gsap.fromTo(subTitle, {
			  opacity: 0,
			  y: 30,
			  stagger: 0.1
			},
			{
			  duration: 1.5,
			  opacity: 1,
			  y: 0,
			  stagger: 0.1
			});
		  };
		
		  const initAll = () => {
			initSwiper();
			initAnimations();
		  };
		
		  initAll();
		
		  // Manejar la navegación interna
		  document.addEventListener('astro:after-swap', initAll);
		
		  // Manejar la visibilidad de la página
		  document.addEventListener('visibilitychange', () => {
			if (document.visibilityState === 'visible') {
			  initAll();
			} else {
			  if (swiper) {
				swiper.autoplay.stop();
			  }
			}
		  });
		
		  // Configurar el menú hamburguesa
		  const hamburguer = document.getElementById("hamburguer");
		  const lines = document.querySelectorAll(".line");
		  const nav = document.querySelector("nav");
		  let isMenuOpen = false;
		
		  function toggleMenu() {
			const navHeight = nav.scrollHeight;
			isMenuOpen = !isMenuOpen;
		
			gsap.to(nav, {
			  height: isMenuOpen ? navHeight : 0,
			  duration: 0.5,
			  ease: "none",
			});
		
			gsap.to(lines[0], { y: isMenuOpen ? 12 : 0, rotate: isMenuOpen ? 45 : 0, duration: 0.3 });
			gsap.to(lines[1], { opacity: isMenuOpen ? 0 : 1, duration: 0.3 });
			gsap.to(lines[2], { y: isMenuOpen ? -12 : 0, rotate: isMenuOpen ? -45 : 0, duration: 0.3 });
		  }
		
		  hamburguer.addEventListener("click", toggleMenu);
		
		  function handleResize() {
			if (window.innerWidth >= 768) {
			  nav.style.height = "auto";
			  isMenuOpen = false;
			} else if (!isMenuOpen) {
			  nav.style.height = "0";
			}
		  }
		
		  window.addEventListener("resize", handleResize);
		  handleResize();
		
		  // Prevenir la navegación por defecto en el icono de inicio
		  const homeIcon = document.getElementById("homeIcon");
		  homeIcon.addEventListener("click", (event) => {
			event.preventDefault();
		  });
		
		  // Manejar el clic en los enlaces de navegación
		  const navLinks = document.querySelectorAll('nav a, a[href="/"]');
		  navLinks.forEach(link => {
			link.addEventListener('click', (event) => {
			  if (link.getAttribute('href') === window.location.pathname) {
				event.preventDefault();
				initSwiper();
			  }
			});
		  });
		});
		</script>
	
</Layout>

<style>
	@keyframes gradient-x {
		0%, 100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}
	.animate-gradient-x {
		animation: gradient-x 10s ease infinite;
		background-size:900% 900%;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 18px;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		transition: all 0.5s ease;
		width: 600px;
		height: 400px;
		transform: scale(0.8);
		opacity: 0.5;
	}
	.swiper-slide-active {
		transform: scale(1);
		z-index: 2;
		opacity: 1;
	}
	.swiper-slide-prev,
	.swiper-slide-next {
		z-index: 1;
	}
	.swiper-pagination-bullet {
		background-color: #fff;
	}
	.swiper-container {
		padding-bottom: 40px;
	}
</style>