

<header class="gap-6 absolute top-0 left-0 right-0 bg-black bg-opacity-30 z-40 md:bg-opacity-20 backdrop-filter backdrop-blur-lg flex px-6 py-2 md:p-0">
    <div id="hamburguer" class="cursor-pointer z-10 flex flex-col max-h-fit md:hidden">
        <div class="line bg-white w-12 h-2 mb-1 transition-all duration-300"></div>
        <div class="line bg-white w-12 h-2 mb-1 transition-all duration-300"></div>
        <div class="line bg-white w-12 h-2 transition-all duration-300"></div>
    </div>
    <nav class="h-0 md:h-auto w-full overflow-hidden transition-all duration-300 ease-in-out px-6 md:p-0"> 
        <div class="w-full flex md:place-items-center md:flex-row flex-wrap justify-center flex-col text-white md:justify-around md:px-10 gap-2 md:gap-8 md:py-2 [&>ul>li>a:hover]:text-orange-500 [&>ul>li>a]:md:px-3 [&>ul>li>a]:md:py-2 [&>ul>li>a]:rounded-md [&>ul>li>a]:text-lg [&>ul>li>a]:font-medium [&>ul>li>a]:no-underline [&>ul>li>a]:transition-all [&>ul>li>a]:duration-300">
            <a id="homeIcon" href="/">
                <img class="" src="/img/logo.svg" alt="Logo">
            </a>
            <ul class="block md:flex">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>

        </div>
    </nav>
</header>